.page{
    min-height: 100vh;
    overflow: hidden;
}
.row{
    background-color: black;
}
.cards-container {
    margin-top: 20px;
    background-color: black;
}
.cards-container .image{
    background-color: black;
    margin: 0;
    padding: 0;
}
.cards-container .description{
    color: #c7a034 ;
}
.custom-button {
    background-color: #1A474A!important;
    color: white !important;
    border-color: #1A474A !important;
  }

  .custom-button:hover {
    background-color: black !important;
  }

