
.brands {
    box-shadow: #8E793E;
}

.brands h1 {
    color: #8E793E;
    text-align: left !important;
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: black 1px 1px 1px;

}

.logo-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 15vh;
    box-shadow: #8E793E 1px 1px 1px 1px;
}

.logo-links a img {
    max-height: 250px;
    max-width: 250px;
    border-radius: 12px;
}

@media only screen and (max-width: 768px) {
    .logo-links {
        flex-direction: column;
    }
}

.cards-container {
    margin-top: 20px;
}

.carousel-item {
    max-height: 500px;
}

.carousel-item img {
    max-height: 400px;
}
.home-container {
    padding: 20px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: 576px) {
    .cards-container {
      justify-content: center;
    }

    .card {
      width: calc(50% - 20px);
    }
  }

  @media (min-width: 768px) {
    .card {
      width: calc(33.33% - 20px);
    }
  }

  @media (min-width: 992px) {
    .card {
      width: calc(25% - 20px);
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
    margin: 20px;
    font-size: 18px; /* default font size */
  }

  @media (min-width: 576px) { /* for small screens and above */
    .card {
      font-size: 20px;
    }
  }

  @media (min-width: 768px) { /* for medium screens and above */
    .card {
      font-size: 22px;
    }
  }

  @media (min-width: 992px) { /* for large screens and above */
    .card {
      font-size: 24px;
    }
  }

  @media (min-width: 1200px) { /* for extra-large screens and above */
    .card {
      font-size: 26px;
    }
  }
