@import url('https://fonts.cdnfonts.com/css/coca-cola-ii');

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  z-index: 999;
}

.sidebar p {
  color: white;
  font-family: 'Coca Cola ii', sans-serif;
  font-size: xx-large;
}

.sidebar p span {
  font-size: large;
  color: goldenrod;
}

.sidebar-overlay {
  display: none;
}

.sidebar .sidebar-content {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.sidebar .sidebar-content .sidebar-menu {
  margin-top: 20px;
}

.sidebar .sidebar-content .sidebar-menu a {
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidebar .sidebar-content .sidebar-menu .activeRoute {
  background-color: #1A474A;
}

.sidebar .sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #1A474A;
}

.sidebar .sidebar-btn-wrapper {
  text-align: center;
  margin-top: 20px;
}

.sidebar .sidebar-btn {
  color: white;
  text-decoration: none;
}

.button {
  background-color: black !important;
  color: #1A474A !important;
  border-color: black !important;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button:hover {
  color: white !important;
}

@media (max-width: 767px) {
  .sidebar {
    width: 20%;
  }

  .sidebar p {
    font-size: large;
    text-align: center;
  }

  .sidebar p span {
    font-size: medium;
  }

  .sidebar .sidebar-footer {
    position: static;
    margin-top: 20px;
  }

  .sidebar .sidebar-btn-wrapper {
    margin-top: 20px;
  }

  .sidebar .sidebar-menu {
    margin-top: 10px;
  }

  .sidebar .sidebar-menu a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .sidebar .sidebar-menu .activeRoute {
    background-color: #1A474A;
  }
}
