@import url('https://fonts.cdnfonts.com/css/coca-cola-ii');


.sidebar{
  height: 100vh;


}
.sidebar-content{
  background: linear-gradient(40deg, rgb(63, 54, 1) 30%, rgb(0, 0, 0) 70%);

}
.navlink:hover{
  color: darkgoldenrod;

}
.navlink.active {
  color: darkgoldenrod;

}

#title{
  color: goldenrod;
  font-size: xx-large;
  font-family: 'Coca Cola ii', sans-serif;
}
#title span{
  font-size: medium;
  color: white;
}
.sidebar img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#footer{
  text-align: left;
}


.nav-link {
  margin-right: 80px;
}

.nav-link:first-child {
  margin-left: 80px;
}

.footer {
  background: linear-gradient(60deg, rgb(143, 124, 19) 30%, rgb(24, 24, 24) 70%);
  background-color: rgb(0, 0, 0);
  height: auto;
  color: white;
}

.footer li ul a {
  color: rgb(68, 67, 67);
}

.footer li ul p {
  color: rgb(68, 67, 67);
}

.footer li {
  list-style: none;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {

  .col-sm-6,
  .col-md-3 {
    width: 100%;
  }

  .footer li {
    margin-bottom: 20px;
  }
}

.logo-title {
  color: darkgoldenrod;
  font-family: 'Coca Cola ii', sans-serif;
}

.logo-title span {
  color: white;
  font-size: medium;
}


.cdb-sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  /* set a high z-index to make sure the sidebar is always on top */
}

.cdb-sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 300px;
  /* set the width of the sidebar here */
  overflow-y: scroll;
}
