.navigation{
    background: linear-gradient( 60deg,  rgb(24, 24, 24) 30%, rgb(143, 124, 19) 70% );
    background-color:rgb(0, 0, 0);
    height: 15vh;
}
.nav-link {
    text-decoration: none;
    color: white;
  }

  .nav-link {
    margin-right: 80px;
  }

  .nav-link:first-child {
    margin-left: 80px;
  }
  .footer{
    background: linear-gradient( 60deg,  rgb(143, 124, 19) 30%,  rgb(24, 24, 24) 70%);
    background-color:rgb(0, 0, 0);
    height: 15vh;
  }
