.App {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}

.content {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding: 2rem;
}

/* For screens with a maximum width of 768px */
@media screen and (max-width: 768px) {

  /* Reduce the size of all images and icons */
  img,
  svg {
    max-width: 100%;
    height: auto;
  }
}

/* For screens with a maximum width of 576px */
@media screen and (max-width: 576px) {

  /* Reduce the width of the navigation bar */
  .sidebar {
    width: 60px;
  }

  /* Hide the sidebar header text */
  #title {
    display: none;
  }

  /* Reduce the font size of the sidebar menu items */
  .navlink {
    font-size: 0.8rem;
  }

  /* Hide the footer text */
  #footer {
    display: none;
  }
}
