.button {
    background-color: #1a474a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    width: 35%;
    height: 35%;
    border-radius: 16px;
    font-size: small ;
  }


  .button:hover {
    background-color: black;
  }
