/* CardHolder.css */
.card-container {
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .card-container:hover {
    transform: translateY(-5px);
  }

  .responsive-image {
    position: relative;
    padding-top: 100%; /* Creates a square aspect ratio */
    overflow: hidden;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  .custom-button {
  width: 100% !important; /* Button takes up full width of the card */
  height: 52px !important; /* Set a fixed height */
  border-radius: 16px !important;
  margin-top: 10px !important; /* Add some spacing between card content and button */
}
