.homeContainer{
  min-height: 100vh;
}
.NavLogo{
  height: 50px;
}

.NavContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
  border-bottom: 0.5px solid rgb(50, 50, 50);
  z-index: 100;
}
.search {
  width: 100%!important;
}

.cardsRow{
  margin-top: 12vh;
}
.cardsHolder{
  background-color: black;
}
.reload{
  width: 20px;
  height: 20px;
}
/* On small screens (less than 768px) */
@media (max-width: 767px) {
  .NavLogo{
    height: 30px;
    width: 60px;
  }
  .cardsRow{
    margin-top: 12vh;

  }


}

/* On larger screens (768px and above) */
@media (min-width: 768px) {
  .NavContainer {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}


/*
.fixedLogoSearchContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 100;
  padding: 10px;
  border-bottom: 0.5px solid rgb(50, 50, 50);
} */

/* .logoSearchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSearchRow .logo {
  margin-right: 20px;
}

.logoSearchRow .search {
  flex: 1;
}

.cardsHolder .cardsRow {
  display: flex;
  justify-content: center; */


/* @media (min-width: 787px) {
  .homeContainer {
    flex-direction: row;
    justify-content: center;
  }
} */
