.Container {
    overflow-x: scroll;
    padding: 20px;
}

.searchInput {
    width: 100%;
}

.tableContainer {
    margin-top: 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #1A474A;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}

.table th,
.table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #dcdcdc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.makeSaleButton {
    background-color: #1A474A;
    color: #fff;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

.makeSaleButton:hover {
    background-color: #c7a034;
    color: #1A474A;

}

.mobileButton {
    background-color: #1A474A;
    color: #fff;
}

.mobileButton:hover {
    background-color: #c7a034;
    color: #1A474A;

}

@media screen and (max-width: 768px) {
    .Container {

        height: 100%;
        overflow-y: scroll;
    }

    .searchInput {
        width: 100% !important;
    }

    .table th,
    .table td {
        padding: 6px 8px;
    }

    .table td {
        font-size: 16px;
    }

    .makeSaleButton {
        padding: 4px 8px;
    }

    .mobileButton {
        font-size: 14px;
    }
}