.homeContainer {
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
}

.displayImage {
  display: flex;
  justify-content: flex-end;
}

.centeredContainer {
  min-width: auto;
  margin: 0px 30px 30px 30px;
}

.holder {
  background-color: black;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
}

.displayLogo {
  display: flex;
  height: 60px;
  width: 120px;
  align-content: flex-end;
}

.formlabel {
  margin-top: 5px;
  color: #c7a034;
}


.customButton {
  background-color: #123f42 !important;
  border-radius: 50px;
  color: #c7a034 !important;
  border-color: gray !important;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 60%;
}


.custom-button:hover {
  background-color: black !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .holder {
    background-color: black;
    /* padding: 20px; */
    /* border: 0.3px solid #1a474a; */
    border-radius: 16px;
    width: 500px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
