.home-container {
    min-height: 100vh;
    background-color: black;
  }
  .display-image {
    display: flex;
    justify-content: flex-end;

  }

  .display-logo {
    display: flex;
    height: 100px;
    width: 100px;
    align-content: flex-end;
  }

  .centered-container {
    min-width:auto;
    margin: 30px;
  }

  .holder {
    background-color: black;
    padding: 20px;
    border: 0.3px solid #1A474A;
    border-radius: 16px;
  }

  .form-header {
    text-align: center;
    color: #c7a034;
  }
  .formlabel {
    color: #c7a034;
  }

  .spinner-border {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alert {
    margin-top: 20px;
  }

  .custom-button {
    background-color: #1A474A!important;
    color: white !important;
    border-color: #1A474A !important;
  }
  .loading-alert {
    position: relative;
  }
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loading-text {
    color: white;
  }
  .loading-spinner,
.loading-text {
  z-index: 1;
}
  .custom-button:hover {
    background-color: black !important;
  }
  @media (max-width: 768px) {
    .logo {
      height: 150px;
      width: 150px;
    }
    .image img {
      height: 100px;
      width: 100px;
    }
  }

