  .signin {
    background-color: black;
    min-height: 100vh;
  }

  .image {
    display: flex;
    justify-content: flex-end;
  }

  .image .logo-image {
    display: flex;
    height: 100px;
    width: 100px;
    align-content: flex-end;
  }
  .formlabel {
    color: #c7a034;
  }

  .form {
    max-width: 400px;
    margin: 0 auto;
  }

  .custom-button {
    background-color: #1A474A!important;
    color: white !important;
    border-color: #1A474A !important;
  }

  .custom-button:hover {
    background-color: black !important;
  }
  .tosignup{
    text-decoration: none !important;
    color: #1A474A;
    font-size: larger !important;
  }
  .tosignup:hover{
    color: aliceblue;
  }
  #signuplink{
    color: #c7a034;
    text-decoration: none;
    font-size: small;
  }
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner {
    border: 8px solid #c7a034;
    border-top: 8px solid #1A474A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Apply the spin animation */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 768px) {
    .logo-image {
      height: 200px;
      width: 200px;
    }
  }
