  .signin {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
  }

  .image {
    display: flex;
    justify-content: flex-end;
  }

  .image .logo-image {
    display: flex;
    height: 120px;
    width: 120px;
    align-content: flex-end;
  }
  .formlabel {
    margin-top: 10px;
    color: #c7a034;
  }

  .form {
    max-width: 400px;
    margin: 0 auto;
  }

  
  .custom-button {
    background-color: #123f42!important;
    color: #c7a034 !important;
    border-color: gray !important;
    text-align: center;
    margin: 0 auto; 
    display: block; 
    width: 60%;
  }
  .forgot-password-link {
    color: gray;
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    color: gray; 
    text-decoration: underline;
  }
  
  .custom-button:hover {
    background-color: black !important;
  }
  .tosignup{
    text-decoration: none !important;
    color: gray; 
    font-size: larger !important;
  }
  .tosignup:hover{
    color: aliceblue;
  }
  #signuplink{
    color: #c7a034;
    text-decoration: none;
    font-size: small;
  }
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner {
    border: 8px solid #c7a034;
    border-top: 8px solid #1A474A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; 
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 768px) {
    .logo-image {
      height: 200px;
      width: 200px;
    }
  }
