.logo-image {
    display: flex;
    height: 300px;
    width: 300px;
    align-content: flex-end;
  }

  .image {
    display: flex;
    justify-content: flex-end;
  }

  .signin {
    background-color: black;
    min-height: 100vh;
  }

  .formlabel {
    color: #c7a034;
  }

  .form {
    max-width: 400px;
    margin: 0 auto;
  }

  .custom-button {
    background-color: #1A474A!important;
    color: white !important;
    border-color: #1A474A !important;
  }

  .custom-button:hover {
    background-color: black !important;
  }
  .tosignup{
    text-decoration: none !important;
    color: #1A474A;
    font-size: larger !important;
  }
  .tosignup:hover{
    color: aliceblue;
  }
  #signuplink{
    color: #c7a034;
    text-decoration: none;
  }


  @media (max-width: 768px) {
    .logo-image {
      height: 200px;
      width: 200px;
    }
  }
